*.class

# Package Files #
*.jar
*.war
*.ear

# Ant specific #
dist/
build/
build.xml

# Netbeans Files #
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

# Don't ignore files in libraries #
!libraries/